* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

header > h1 {
    text-align: center;
}

nav, nav ul {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

nav ul {
    background-color: lightgray;
    gap: 1em
}

li {
    list-style-type: none;
}

section {
    background: lightcyan;
    margin: 1em
}

#main {
    display: flex;
}

#side-main {
    flex: 3;
}

#middle-main {
    padding: 1em;

    flex: 7;
    background-color: plum;
}

section.post {
    border: black 2px solid;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.success {
    border: 1px green solid;
    background-color: lightgreen;
}

.error {
    background-color: orange;
    font-size: 0.5em;
}

.error-fld {
    border: 1px red solid;

}