{% extends 'base.html' %}
{% block content %}
<ul>
    <li>name = {{ student.name }}</li>
    <li>course = {{ student.course }}</li>
    <li>year/sem = {{ student.year }} {{ student.sem }}</li>
</ul>
{% endblock content %}