{% extends 'base.html' %}
{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.username(class='form-field', placeholder='Please enter username') }}
        {{ form.password(class='form-field', placeholder='Please enter password') }}
        {{ form.remember_me(class='form-field') }}
        {{ form.submit(class='submit') }}
    </form>
    <p>Not a member? <a href="{{ url_for('register') }}">Register</a></p>
{% endblock content %}
