{% extends 'base.html' %}
{% block content %}
    {% macro render_field(field, placehold) %}
        {% if field.errors %}
            {{ field(class='form-field error-fld', placeholder=placehold) }}
            <ul>
                {% for error in field.errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {{ field(class='form-field', placeholder=placehold) }}
        {% endif %}
    {% endmacro %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ render_field(form.username, 'username') }}
        {{ render_field(form.email, 'email') }}
        {{ render_field(form.password, 'password') }}
        {{ render_field(form.confirm_password, 'password confirmation') }}
        {{ form.submit(class='submit') }}
    </form>
    <p>Already a member? <a href="{{ url_for('login') }}">Login</a></p>
{% endblock content %}
