{% extends 'base.html' %}
{% block content %}
    {% for post in post_list %}
        <section class="post">
            <section>title: {{ post['title'] }}</section>
            <section>author: {{ post['author'] }}</section>
            <section>content: {{ post['content'] }}</section>
            <section>date: {{ post['postDate'] }}</section>
            <section>click for more <a href="{{ url_for('post', post_id= post.postId) }}">detail</a></section>
        </section>
    {% endfor %}
{% endblock content %}