<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ context.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page.css') }}">
</head>
<body>
    <header>
        <h1>Blog Post - flask tutorial</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('all_posts') }}">All Posts</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
    </nav>
    <section id="main">
        <section id="side-main">
            <h1> {{ context['title'] }} page </h1>
        </section>
        <section id="middle-main">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% for category, msg in messages %}
                    <section class="{{ category }}">{{ msg }}</section>
                {% endfor %}
            {% endwith %}
            <h2> {{ context['subtitle'] }} </h2>
            {% block content %}
            {% endblock content %}
        </section>
    </section>
    <footer>
        Axel Brochu Winter 2024 &copy;
    </footer>
</body>
</html>