{% extends 'base.html' %}
{% block content %}
    <ul>
        <li>title: {{ post['title'] }}</li>
        <li>author: {{ post['author'] }}</li>
        <li>content: {{ post['content'] }}</li>
        <li>date: {{ post['postDate'] }}</li>
    </ul>
{% endblock content %}